:root {
  --main: #fda83b;
  --secondary: #d4eafe;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy;
}

html,
body {
  height: 100vh;
  width: 100vw;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0px;
  min-height: 100%;
}

header,
section,
footer {
  padding: 70px;
}

a {
  text-decoration: none;
}

.header {
  padding-top: 10px;
  position: relative;
}

.navbar {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 50000;
}

.logo a {
  font-size: 28px;
  color: var(--main);
}

.links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.links a {
  font-weight: bold;
  color: black;
  transition: color 0.3s ease-in-out;
}
.links a:hover {
  color: var(--main);
}

/* Menu Icon */
.menu-container {
  display: none;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

/* Sidebar Styles */
.sidebar {
  position: fixed;
  top: 0;
  display: none;
  left: -100vw; /* Initially hidden */
  width: 100vw;
  height: 100%;
  background-color: var(--secondary);
  transition: left 0.3s ease;
  z-index: 1000;
  padding: 100px 20px;
}

.sidebar.active {
  left: 0; /* Show sidebar */
}

.sidebar a {
  display: block;
  padding: 10px 20px;
  color: black;
  text-decoration: none;
  border-radius: 20px;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.sidebar a:hover {
  color: var(--main);
  background-color: #e6f3ff;
}

.hero {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 40px 0px;
  width: 100%;
  text-wrap: balance;
}

.hero-left,
.hero-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.hero-left {
  width: 50%;
  position: relative;
  top: 30px;
}

.hero-left h2 {
  font-size: 44px;
  line-height: 60px;
}
.hero-left p {
  font-size: 24px;
  line-height: 40px;
}

.hero-images {
  position: relative;
}

.plane {
  position: absolute;
  top: 20px;
  display: flex;
  gap: 40px;
}

.plane img:nth-child(1) {
  transform: translateY(100px) translateX(-80px);
}

.plane img:nth-child(2) {
  transform: translateY(-20px);
}
.hero-img {
  border-radius: 100%;
  width: 400px;
  height: 400px;
  position: relative;
  top: 100px;
}
.header-img {
  position: absolute;
  top: 0;
  right: -70px;
  max-height: 600px;
  z-index: -50;
  max-width: 100%;
}

.hero-btn {
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn {
  font-size: 16px;
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 8px;
  padding: 10px 8px;
  width: 160px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.btn:hover {
  background-color: #eb9c35;
  color: #fafafa;
}
.btn-style {
  background-color: var(--main);
  color: #fafafa;
}

.outline-btn-style {
  background-color: transparent;
  color: var(--main);
  border: 2px solid var(--main);
}

#about {
  position: relative;
  margin-top: 100px;
  text-align: center;
}

.about-tree {
  position: absolute;
  left: -70px;
  top: -200px;
  z-index: -1000000;
}

.about-birds {
  position: absolute;
  right: -70px;
  z-index: -1000000;
}

.about-heading h2 {
  font-size: 38px;
  line-height: 48px;
  padding-top: 200px;
}

.about-heading p {
  font-size: 24px;
  line-height: 40px;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
  margin-top: 100px;
  place-items: center;
}

.card {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.card-image {
  position: relative;
  display: flex;
  margin-bottom: 20px;
}

.card-image img:first-child {
  z-index: 50;
  position: relative;
  height: 130px;
  width: 130px;
}

.card-image .bg-top-img {
  position: absolute;
  top: -20px;
  left: 20px;
  z-index: -50;
}

.card-image .bg-bottom-img {
  position: absolute;
  bottom: -20px;
  left: 20px;
  z-index: -50;
}

.products {
  position: relative;
  /* margin-top: 100px; */
  text-align: center;
}

.products-tree {
  position: absolute;
  right: -70px;

  z-index: -1000000;
}

.products-heading h2 {
  font-size: 38px;
  line-height: 48px;
  padding-top: 200px;
}

.products-heading p {
  font-size: 24px;
  line-height: 40px;
}
.trip__card {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 10px;
  width: 350px;
}
.trip__title {
  font-size: 18px;
}
.trip__rating_group {
  width: 100%;
  display: flex;
  align-items: start;
  gap: 3px;
  justify-content: flex-end;
}
.trip__rating {
  font-size: 18px;
  font-weight: 600;
}
.trip__star {
  color: gold;
}
.trip__detail__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}
.trip__price {
  font-size: 24px;
  font-weight: 600;
}
.trip__img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 15px;
}
.testimonial {
  margin: 100px 0px;
  padding: 100px 20px;
  width: 100%;
  background-color: var(--secondary);
}

.testimonial-header {
  text-align: center;
}
.testimonial-header h2 {
  font-size: 38px;
  line-height: 48px;
}
.testimonial-header p {
  font-size: 24px;
  line-height: 40px;
}

.slider {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-top: 20px;
}

.slider-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
  /* border: 2px solid lime; */
  transition: transform 0.5s ease-in-out;
}

.testimonial-card {
  flex: 0 0 30%;
  background-color: white;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  /* min-height: 300px; */
  min-width: 300px;
}
@keyframes bounce-in {
  0% {
    scale: 0.7;
    opacity: 0;
  }
  100% {
    scale: 1;
    opacity: 1;
  }
}

.testimonial-card,
.trip__card {
  animation: bounce-in 0.5s ease-in-out;
}

.testimonial-card-header {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px;
  margin-bottom: 10px;
}
.testimonial-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.testimonial-card-header image {
  border-radius: 50%;
  height: 92px;
  width: 92px;
}

.testimonial-card-header h3 {
  color: var(--main);
  font-weight: bold;
  font-size: 18px;
}

.testimonial-card-header p {
  color: #8b8b8b;
  font-size: 14px;
}
.testimonial-card-content h4 {
  font-size: 14px;
  font-weight: bold;
}
.testimonial-card-content p {
  font-size: 12px;
}

.indicators {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 50px;
  align-items: center;
}
.indicator {
  width: 90px;
  height: 12px;
  background-color: #333;
  border-radius: 6px;
  cursor: pointer;
}
#indicators-2 .indicator {
  background-color: #fafafa;
}
#indicators-2 .indicator.active, #indicators .indicator.active {
  background-color: var(--main);
}
#contact {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background: url("");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 50px 20px;
  border-radius: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  gap: 20px;
  background-color: rgba(255, 255, 255, 0.45);
  padding: 20px;
  backdrop-filter: blur(10px);
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
form div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80%;
}
form label {
  font-weight: bold;
  color: #333;
}
form input,
form textarea {
  padding: 10px;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

form textarea {
  resize: none;
  padding-top: 30px;
  padding-bottom: 30px;
}
input:focus,
textarea:focus {
  border: 2px solid var(--main);
}
.contact-text {
  max-width: 50%;
  color: white;
}

.contact-text h2 {
  font-size: 38px;
  line-height: 40px;
}

.contact-text p {
  font-size: 18px;
  line-height: 24px;
}
form button[type="submit"] {
  width: 80%;
}

.footer {
  position: relative;
  margin-top: 50px;
  width: 100%;
  max-height: 1000px;
  min-height: 600px;
  overflow-y: hidden;
  overflow-x: visible !important;
}

.footer-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.footer-header h2 {
  font-size: 38px;
  font-weight: bold;
  color: var(--main);
  text-wrap: nowrap;
}
.footer-header div {
  height: 2px;
  width: 60%;
  background-color: var(--main);
  margin-top: 6px;
}
.footer-header img {
  width: 200px;
  height: 75px;
}

.footer-content {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
  /* margin-bottom: 100px; */
  padding: 0px 70px;
  gap: 10px;
}
.footer-content .main-content {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 20px;

  margin-bottom: 20px;
}
.social-content {
  display: flex;
  gap: 10px;
  margin-top: 30px;
  flex-direction: column;
}
.footer-content-heading {
  font-size: 28px;
  font-weight: bold;
}
.footer-content-para,
.footer-contact {
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-transform: capitalize;
}
.footer-content-para:hover,
.footer-contact:hover {
  color: var(--main);
}
.footer-contact:hover img,
.footer-social:hover img {
  scale: 1.2;
}

.footer-contact {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer-contact img {
  transition: all 0.3s ease-in-out;
}

.socials {
  display: flex;
  gap: 20px;
}

.footer-social img {
  width: 20px;
  height: 30px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.footer-tree {
  position: absolute;
  bottom: 0px;
  right: -0px;
  rotate: 360deg;
  z-index: -1;
}

.footer-bird {
  position: absolute;
  bottom: 60px;
  left: -70px !important;
  z-index: -1;
}

#info {
  text-align: center;
  padding-block: 10px;
  position: absolute;
  width: 100%;
  font-weight: bold;
  bottom: 10px;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
}

/* Media Queries */

@media (max-width: 1250px) {
  .slider-wrapper {
    flex-direction: column;
  }
  .testimonial-card-header {
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 1024px) {
  .hero-img {
    max-height: 300px;
    max-width: 300px;
  }
  #about {
    margin-top: 20px;
  }

  .about-images,
  .product-images {
    display: none;
  }

  .plane img:nth-child(1) {
    transform: translateY(0px) translateX(-0px);
  }

  .plane img:nth-child(2) {
    transform: translateY(-20px);
  }
  .hero-left h2 {
    font-size: 32px;
    line-height: 48px;
  }
  .cards-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  #contact {
    flex-direction: column;
    padding: 30px 10px;
    gap: 50px;
  }
  .contact-text {
    text-align: center;
  }
  form {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .menu-container {
    display: inline-block;
  }
  .footer-bird,
  .footer-tree {
    display: none;
  }
  .sidebar {
    display: block;
  }
  .links {
    display: none;
  }
  section,
  footer,
  header {
    padding: 0px 20px;
  }
  .hero {
    flex-direction: column; /* Stack hero content */
    align-items: center; /* Center align */
    width: 100%;
  }

  .hero-left {
    order: 1; /* Make sure text comes first */
  }

  .hero-right {
    order: 2; /* Image comes after the text */
  }

  .hero-btn {
    order: 3; /* Buttons come after the image */
  }
  .hero-left,
  .hero-right {
    align-items: center;

    width: 100%; /* Full width for mobile */
    text-align: center; /* Center text */
  }
  .hero-right {
    margin-top: 50px;
  }
  .contact-text {
    max-width: 100%;
  }
  .cards-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }
  .footer {
    align-items: center;
    justify-content: center;
  }
  .footer-header div,
  .footer-header img {
    display: none;
  }
  .footer-header {
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .hero-left h2 {
    font-size: 28px;
    line-height: 36px;
  }
  .hero-left p {
    font-size: 18px;
    line-height: 36px;
  }
  .hero-btn {
    flex-direction: column;
  }
  .footer,
  footer-content .main-content,
  .footer-contact {
    align-items: start;
    justify-content: start;
  }
  .about-heading h2,
  .testimonial-header h2,
  .products-heading h2 {
    font-size: 28px;
    line-height: 32px;
    padding-top: 200px;
  }
  .contact-text h2 {
    font-size: 28px;
    line-height: 32px;
  }

  .about-heading p,
  .contact-text p,
  .products-heading p,
  .testimonial-header p {
    font-size: 18px;
    line-height: normal;
  }

  .cards-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  form {
    width: 100%;
  }
  .testimonial {
    width: 100%;
    padding: 5px 4px;
  }
  .testimonial-card {
    max-width: 300px;
    margin: 0 auto;
  }
}
